body {
    font-family: Verdana, Geneva, sans-serif!important;
    background-color: #ecf0f1;
}

.cm-login {
    background-color: #fbfcfc;
    margin: 5% 15%;
    padding: 10%;
    border-radius: 10px;
}

.cm-button {
    background-color: #c0392b;
    color: white;
    width: 100%;
}

.cm-logo {
    max-width: 80%;
    margin: auto;
    margin-top: 10%;
    margin-left: 30%;
    padding: 0;
}

.cm-levu {
    margin: auto;
    margin-top: 15%;
    margin-left: 20%;
}

.cm-wrapper {
    margin-top: 10%;
}

.cm-topbar {
    background-color: #c0392b;
}

.cm-logout-border {
    border-left: 4px solid #ea6153;
}

.cm-white {
    color: white!important;
}

.cm-navbar {
    margin-top: 50px;
    background: none;
    border: 0;
}

.cm-navbar nav {
    background: none;
    border: 0;
}

.cm-navbar h4 {
    margin-top: 5%;
}

.cm-navbar li a {
    padding: 25px;
    width: 128px;
}

.cm-chart-wrapper {
    max-width: 75%;
    margin: auto;
    margin-top: 3%;
}

.cm-button-wrapper button {
    width: 128px;
    height: 110px;
    white-space: normal;
    margin: 15px auto;
}

.cm-sel-wrapper {
    margin: 4% auto;
}

.cm-button-play {
    width: auto!important;
    height: auto!important;
    margin: 15px auto;
}

.cm-bg-play {
    position: absolute;
}

.cm-proplay {
    background: url(playpro.png);
    background-size: 96px 82.5px;
    background-repeat: no-repeat;
    background-position: center;
}
.cm-prostop {
    background: url(stopro.png);
    background-size: 96px 82.5px;
    background-repeat: no-repeat;
    background-position: center;
}
.cm-table-center{
    text-align:center;
}
.cm-add-margin-top {
    margin-top: 20px;
}
.cm-btn-trend{
    width:60px;
    height:60px;
    border-radius: 50%;
    border:3px solid #983d33;
    background-color:#f59389;
    color:black;
    padding:10px;
}
.cm-go-down{
        position: absolute;
    bottom: 0;
    margin-bottom: -40px;
    text-align: center;
    margin-left: -60px;
    font-size: 0.9em;
}
.cm-add-border{
    border:2px solid black;
}
.cm-icon-decrease{
    color: #ea6153;
}
.cm-icon-increase{
     color: #2ecc71;
}
.cm-trend-icon{
    font-size: 2em;
}
.icon-stack {

}
.icon-stack .icon-stack-base {
    font-size: 2em;
}
.icon-stack [class^="icon-"], .icon-stack [class*=" icon-"] {
    display: block;
    font-size: 1em;
    height: 100%;
    line-height: inherit;
    position: absolute;
    text-align: center;
    width: 100%;
}
.icon-stack .glyphicon{
    font-size:4em;
}
.glyphicon-ban-circle
{
    color:red;
}
.stack-text{
    position: absolute;
    top: 0;
    margin-left: -37px;
    margin-top:20px;
    color:white;
    font-size: 0.9em;
    
}
.cm-add-margin-top-stats{
    margin-top:15px;
}
.cm-status{
    padding:8px;
    margin-left:50px;
    background-color: #ecf0f1;
    border-radius: 5%;
}
.cm-supervisor-scrollable{
    height:300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.cm-user{
    font-size: 5em;
}